<!-- index.html -->
<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Tide & Weather Guide</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the bundled javascript file -->
    <script src="/dist/bundle.js" defer></script>
</head>
<body>
    <header>
        <h1>Tide & Weather Guide</h1>
        <h3>for the sea side</h3>
    </header>

    <main>
        <p class="bold">Oh hi,</p>
        
        <p>If you're going to the beach, here is the tide and weather info for co-ordinates: 41.683, -8.833, Viana do Castelo, Portugal</p>
        
        <section class="dreams">
            <ul id="data"></ul>
        </section>
        
        <!-- Query tabs at the top -->
        <div class="tab-container">
            <div class="tab" id="tide-times-DB-query">Tide Times</div>
            <div class="tab" id="weather-DB-query">Marine Weather & Solar Data</div>
        </div>
        
        <!-- Tab content -->
        <div id="tide-times-table" class="tab-content" style="display: none;">
            <!-- Tide times data will be displayed here -->
            <div id="tide-times-data"></div>
            <button id="tide-times-button" class="refresh-button">Refresh Tide Times</button>
        </div>
        
        <div id="weather-solar-output" class="tab-content" style="display: none;">
            <!-- Weather data will be displayed here -->
            <div id="weather-data"></div>
            <button id="weather-data-button" class="refresh-button">Refresh Weather Data</button>
        </div>
        <div id="error-messages"></div>
    </main>

    <footer>
        <br>
        This application gathers data through API calls to stormglass.io. It smartly stays within the free usage limits by limiting the number of API calls to under 10 per day and saving the retrieved data for future use in an SQLite database. It is hosted at no cost thanks to <a href="https://glitch.com">Glitch</a>!
    </footer>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
</body>
</html>
