.glitchdotcom.json
.node-gyp
node_modules
.data/
data
server/.data

# ignore everything on the glitch server to help avoid merge conflicts:
.bash_history
.config
.glitch-assets
.nano
.node-gyp

# this file contains the API key so will not be hosted publicly on github
# but it will be added to the glitch repo and again not be publicly visible
.env

data.json
text.json